<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <webSocket enabled="false" />

    <handlers>
      <add name="iisnode"
           path="artifacts/api-server/dist/index.mjs"
           verb="*"
           modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="artifacts/api-server/dist/index.mjs" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>